body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 150px; /*ici*/
    padding-right: 150px;
}

.container{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /*ici*/
    width: 100%;/* Ajustez la largeur selon vos besoins */
    
}



.HEADER{
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.25);
    border-radius: 8px;  /*ici*/
    padding: 1px;

}

.header1{
    display: flex;
    align-items: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.Navigation{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}

.header2{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    padding: 30px;
    margin: 1px;
    text-decoration: none;
}

.header2:hover{
    background-color: #f4f4f4; /*ici*/
    border-radius: 10px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

#Acceuil{
    color: rgb(194, 153, 247);
    background-color: #f4f4f4; 
    border-radius: 10px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); /*ici*/
}

section{
    color: black;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

table{
    border-collapse: collapse; /*ici*/
}
td{
    border: 1px solid black;
    padding: 15px;
}

th{
    font-size: 1.2em;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    padding: 15px;
}

caption{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}